@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    background-color: #9cb4e7;
    margin: 1rem auto;

}



section {
    padding: 1rem;
    background-color: #fff;
}



header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: left;
    padding-bottom: 10px;
    text-indent: 2rem;
}

h1 {
    padding-right: 1rem;
}



.column {
    background-color: white;
    border: 2px solid #555;
    padding: 1rem;
    margin: 0.5rem;
}


footer {
    background-color: #9cb4e7;
    color: rgb(0, 0, 0);
    text-align: left;
    margin: 1rem auto;
    border: 1px solid #bbb;
    box-sizing: border-box;
    text-indent: 2rem;
}

@media (max-width: 500px) {
    main {
        grid-template-columns: 1fr;
    }
}