@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns */
    gap: 1rem;
    padding: 1rem;
    background-color: #f0f0f0;
    /* Light gray background */
}



section {
    padding: 1rem;
    background-color: #fff;
}



header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}



.column {
    background-color: white;
    border: 2px solid #555;
    padding: 1rem;
    margin: 0.5rem;
}

footer {
    background-color: #9cb4e7;
    color: rgb(0, 0, 0);
    text-align: right;
    padding: 1rem 0;

    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;


}

@media (max-width: 500px) {
    main {
        grid-template-columns: 1fr;
    }
}