:root {
    --maincolor: #10273d;
    --secondary: #d3d3d3;
    --accent1: #ffffff;
    --accent2: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: large;
}

.content-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #10273d;
    padding: 20px;
    width: 100%;
}

.hero {
    display: flex;
    justify-content: center;
    width: 100%;
}

.hero img {
    width: 100%;
    height: auto;
}

header img {
    max-width: 100%;
    height: auto;
    width: 150px;
    border-radius: 10%;
    margin-right: 20px;
}

nav {
    background-color: #efefef;
    text-align: center;
    padding: 10px 20px;
    line-height: 2;
    width: 100%;
}

.navigation ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

.navigation ul li {
    margin-right: 10px;
}

.navigation a {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.navigation a:hover {
    background-color: #D8D8D8;
}

.action {
    background-color: #D8D8D8;
    color: #000;
}

#mode {
    position: relative;
    float: right;
    font-size: 2rem;
    cursor: pointer;
}

body h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
}

body h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: #001c38;
    padding: 10px 0;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
}

.card {
    border: 1px solid orangered;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 255, 0.1);
    width: 100%;
}

.card img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.card p {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    text-align: left;
    color: #333;
}

.form-content-container {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
}

.form-container {
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--maincolor);
}

form input,
form select,
form textarea,
form button {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--maincolor);
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

form button {
    background-color: var(--maincolor);
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: var(--secondary);
    color: var(--maincolor);
}

#membership-benefits {
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#membership-benefits h3 {
    margin-bottom: 10px;
    color: var(--maincolor);
}

#membership-benefits p {
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #333;
}

.footer {
    background-color: #001c38;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
}

.footer p {
    color: #FFFFFF;
    margin: 5px 0;
}

.contact {
    padding: 10px;
    color: red;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.dark-mode {
    background-color: #000;
    color: #fff;
    border-color: #eee;
}

.dark-mode .navigation,
.dark-mode .container,
.dark-mode .container .card,
.dark-mode .container .card h2 {
    background-color: #000000;
    color: #fff;
}

.dark-mode .navigation ul li a {
    background-color: #000000;
    color: #fff;
}


.navigation {
    display: none;
}


.navigation.open {
    display: block;
}


#menu {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}


@media (min-width: 600px) {
    #menu {
        display: none;
    }

    .navigation {
        display: block;
    }
}

@media (max-width: 600px) {
    .navigation {
        width: 100%;
        background-color: #efefef;
    }

    .navigation ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .navigation li {
        width: 100%;
    }

    .navigation a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        background-color: #efefef;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .card {
        width: 100%;
    }

    .card img {
        width: 100%;
    }

    .hero {
        display: block;
        text-align: center;
    }

    .hero img {
        width: 100%;
        height: auto;
    }

    .form-content-container {
        padding: 0 10px;
    }
}

#forecast {
    margin-top: 20px;
}

.forecast-item {
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
    text-align: left;
}

.forecast-item p {
    margin: 5px 0;
}

article.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

article.list {
    display: block;
}

article section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

article section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

article section h3 {
    margin-top: 10px;
    font-size: 1.5rem;
    color: var(--maincolor);
}

article section p {
    margin-top: 5px;
    font-size: 1rem;
    color: #333;
}

article section a {
    display: block;
    margin-top: 10px;
    color: var(--maincolor);
    text-decoration: none;
}

article section a:hover {
    text-decoration: underline;
}


.hero {
    position: relative;

}

.herolabel {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#fff, #4D5B97);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    text-decoration: none;
    color: inherit;
}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Great Vibes", serif;
    color: #000;
}






article.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

article.list {
    display: block;
}

article.grid section,
article.list section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

article.grid section img,
article.list section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

article.grid section h3,
article.list section h3 {
    margin-top: 10px;
    font-size: 1.5rem;
    color: var(--maincolor);
}

article.grid section p,
article.list section p {
    margin-top: 5px;
    font-size: 1rem;
    color: #333;
}

article.grid section a,
article.list section a {
    display: block;
    margin-top: 10px;
    color: var(--maincolor);
    text-decoration: none;
}

article.grid section a:hover,
article.list section a:hover {
    text-decoration: underline;
}

article.list {
    display: block;
    width: 100%;
}

.directory-table {
    width: 100%;
    border-collapse: collapse;
}

.directory-table th,
.directory-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.directory-table th {
    background-color: #f2f2f2;
    text-align: left;
}