:root {
    --maincolor: #10273d;
    --secondary: #d3d3d3;
    --accent1: #ffffff;
    --accent2: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: large;
}

header {
    display: flex;
    align-items: center;
    justify-content: left;
    color: #FFFFFF;
    background-color: #10273d;
    padding: 20px 20px;
    width: 100%;
}

.hero {
    display: flex;
    justify-content: center;
    width: 100%;
}

.hero img {
    width: 100%;
    height: auto;
    max-width: 1200px;
}

header img {
    max-width: 100%;
    height: auto;
    width: 150px;
    border-radius: 10%;
    margin-right: 20px;
}

nav {
    background-color: #efefef;
    text-align: center;
    padding: 10px 20px;
    line-height: 2;
    width: 100%;
}

.navigation ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.navigation ul li {
    margin-right: 10px;
}

.navigation a {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.navigation a:hover {
    background-color: #D8D8D8;
}

.action {
    background-color: #D8D8D8;
    color: #000;
}

#mode {
    position: relative;
    float: right;
    font-size: 2rem;
    cursor: pointer;
}

body h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #FFFFFF;
    background-color: #10273d;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

body h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #001c38;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.main-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    border: 1px solid orangered;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 255, 0.1);
}

.current-events {
    grid-column: span 2;
}

.sidebar {
    background-color: #f4f4f4;
    padding: 20px;
}

.main-content {
    background-color: #fff;
    padding: 20px;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.photo-gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.photo-gallery img:hover {
    transform: scale(1.05);
}

section {
    text-align: center;
    display: block;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.hero {
    width: 100%;
    overflow: hidden;
}

.hero img {
    width: 1200px;
    height: 350px;
    display: block;
}

.footer {
    background-color: #001c38;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
}

.footer p {
    color: #FFFFFF;
    margin: 5px 0;
}

.contact {
    padding: 10px;
    color: red;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.dark-mode {
    background-color: #000;
    color: #fff;
    border-color: #eee;
}

.dark-mode .navigation,
.dark-mode .container,
.dark-mode .container .card,
.dark-mode .container .card h2 {
    background-color: #000000;
    color: #fff;
}

.dark-mode .navigation ul li a {
    background-color: #000000;
    color: #fff;
}

@media (max-width: 600px) {
    body {
        justify-content: center;
        grid-gap: 0;
    }

    .navigation {
        display: flex;
        flex-direction: column;
    }

    .navigation a {
        display: none;
    }

    .open a {
        display: block;
    }

    #menu {
        background-color: var(--accent1);
        border: none;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "X";
    }

    main {
        grid-template-columns: 1fr;
    }

    .sidebar,
    .main-content {
        padding: 10px;
    }
}

.form-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary);
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form label {
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--maincolor);
}

form input,
form textarea,
form select,
form button {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--maincolor);
    font-size: 1rem;
    border-radius: 5px;
    width: 100%;
}

form button {
    background-color: var(--maincolor);
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: var(--secondary);
    color: var(--maincolor);
}

#membership-benefits {
    background-color: var(--secondary);
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

#membership-benefits h3 {
    margin-bottom: 10px;
    color: var(--maincolor);
}

@media (min-width: 768px) {
    .form-content-container {
        flex-direction: row;
        justify-content: space-between;
    }

    form {
        width: 60%;
    }

    #membership-benefits {
        width: 75%;
        margin-left: 20px;
    }

    #membership-benefits p {
        margin-bottom: 10px;
    }
}


.menu {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: #bed;
}

.menu button {
    padding: 1rem;
    font-weight: 700;
    margin: 0 0.5rem;
}

article {
    width: 100%;
}

article.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;
}

article.grid section {
    text-align: center;
}

article.grid section>* {
    margin: 0.1rem;
}

article.list {
    display: flex;
    flex-direction: column;
}

article.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 0.25rem;
}

article.list section>* {
    margin: 0 1rem;
}

article.list section img {
    display: none;
}

article.list section h3 {
    font-size: 1rem;
}

article.list section:nth-child(even) {
    background-color: #bed;
}

section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #eee;
    margin: 0.5rem 0;
}

section img {
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
    height: 75px;
    max-width: 100%;
}

section h3 {
    font-size: 1.5rem;
    font-family: "Caveat", cursive;
}

section p {
    font-weight: 600;
    font-size: smaller;
}

section a {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.85rem;
    color: navy;
    letter-spacing: 1.1pt;
}