:root {
    --maincolor: #10273d;
    --secondary: #cecdcb;
    --accent1: #ffffff;
    --accent2: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    align-items: center;
    width: 100%;
    font-size: large;
}

.content-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #10273d;
    padding: 20px;
    width: 100%;
}

.hero {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.hero img {
    width: 100%;
    height: auto;
    max-width: 1200px;
}

header img {
    max-width: 100%;
    height: auto;
    width: 150px;
    border-radius: 10%;
    margin-right: 20px;
}

nav {
    background-color: #efefef;
    text-align: center;
    padding: 10px 20px;
    line-height: 2;
    width: 100%;
}

.navigation {
    width: 100%;
    background-color: #efefef;

}

.navigation ul {
    list-style-type: none;

    padding: 0;
    margin: 0;
}

.navigation li {
    width: 100%;

}

.navigation a {
    display: block;

    width: 100%;
    text-align: center;

    padding: 15px;

    text-decoration: none;

    color: rgb(0, 0, 0);

    background-color: #efefef;

    border-bottom: 1px solid #efefef;

}

.navigation a:hover {
    background-color: #D8D8D8;
}

.action {
    background-color: #D8D8D8;
    color: #000;
}

#mode {
    position: relative;
    float: right;
    font-size: 2rem;
    cursor: pointer;
}

body h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #FFFFFF;
    background-color: #10273d;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

body h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #001c38;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.main-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.card {
    border: 1px solid orangered;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 255, 0.1);
}

.current-events {
    grid-column: span 1;
}

.sidebar {
    background-color: #f4f4f4;
    padding: 20px;
}

.main-content {
    background-color: #fff;
    padding: 20px;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.photo-gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.photo-gallery img:hover {
    transform: scale(1.05);
}

section {
    text-align: center;
    display: block;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.hero {
    width: 100%;
    overflow: hidden;
}

.hero img {
    width: 1200px;
    height: 350px;
    display: block;
}

.footer {
    background-color: #001c38;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
}

.footer p {
    color: #FFFFFF;
    margin: 5px 0;
}

.contact {
    padding: 10px;
    color: red;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.dark-mode {
    background-color: #000;
    color: #fff;
    border-color: #eee;
}

.dark-mode .navigation,
.dark-mode .container,
.dark-mode .container .card,
.dark-mode .container .card h2 {
    background-color: #000000;
    color: #fff;
}

.dark-mode .navigation ul li a {
    background-color: #000000;
    color: #fff;
}

@media (max-width: 600px) {
    .navigation ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .navigation ul li {
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .navigation a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .card {
        width: 100%;
    }

    .card img {
        width: 100%;
    }

    .hero {
        display: block;
        text-align: center;
    }

    .hero img {
        width: 100%;
        height: auto;
    }
}